 body {
        background-color: #5168ac;
        color:white;
        text-align: center;
        justify-content: center;
    }
    div.Image{
        margin-top: 250px;
		margin-right: 45px;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 300px;
        border: 2px;
    }
    div.LoginBox{
        height: 60px;
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    .button{
        margin-top: 30px; 
        background-color: white; 
        border: none;
        color: black;
        padding: 5px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 115px;
    }
    input[type=text] {
		text-align: center;
		justify-content: center;
        width: 70%;
        padding: 5px 5px;
        box-sizing: border-box;
        
      }
    input[type=password] {
        width: 70%;
        padding: 5px 5px;
        box-sizing: border-box;
        
      }
	input[type=submit]{
		margin-left: 65px;
        background-color: white; 
        border: none;
        color: black;
        padding: 5px 34px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        width: 90px;
	}
    .navbuttons{
        margin-top: 100px;
        margin-left: 0px;
    }